{% extends "layout.html"%}

{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('   {{ url_for('static',filename= 'img/admin.jpg' )}} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Welcome To dashboard  </h1>
            <span class="subheading">manage your website from here... </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row" mt-4 mb-5>
      <div class="col-lg-8 col-md-10 mx-auto">

        <h1 >Basic Actions</h1>
        <div class="contanier mt-3 mb-3">

           <a href="/">  <button class="btn btn-primary mr-5"> Home</button></a>
           <a href="/logout">  <button class="btn btn-primary"> Logout</button></a>


        </div>

<h1>Uplod  File </h1>


    <div class="row mt-3 mb-5 " >



      <form action="/upload" method="post" enctype="multipart/form-data">

      <input type="file" name="file1">

        <button type="submit "class=" btn btn-primary">Submmit</button>


      </form>
    </div>
<h1>Edit Post</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Title</th>
        <th>Date</th>
        <th>Images</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>

  {% for post in post %}

      <tr>
        <td>{{post.sno}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date}}</td>
         <td>{{post.img }}</td>
        <td><button class="btn btn-primary" ><a href="/delete/{{post.sno}}">Delete</a></button></td>
      </tr>


    {% endfor %}
    </tbody>
  </table>


        </div>
      </div>
    </div>
  </div>

{% endblock %}


