
{% extends "layout.html"%}

{% block body %}
  <!-- Page Header -->

  <header class="masthead" style="background-image: url('   {{ url_for('static',filename= 'img/h.jpg' )}} ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Coding Blog  </h1>
            <span class="subheading">All coding Article.....</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">








<!--- fetch from databse from for loop ---->
                    <h1>Recent Post</h1>
{% for post in post %}


        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
                    {{post.title}}
            </h2>
            <h3 class="post-subtitle">
               {{post.tag}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="/about">Nishant Singh </a>
            on {{post.date}}</p>
          {{post.content}}....
        </div>
        <hr>



      {% endfor %}






        <!-- Pager -->


          <div class="clearfix">


          </div>
      </div>
    </div>
  </div>

{% endblock %}